:root {
    --text-primary: #000;
    --bgPrimary: #fff;
    --bgSecondary: #F9F9F9;
    --pink: #0071bd;
    --light-blue: #e6f7ff;
    --border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    color: var(--pink) !important;
}

.app {
    display: flex;
    overflow: hidden;
}

.navbar {
    flex: 0.25;
    background-color: rgb(0, 21, 41);
}

.main {
    display: flex;
    flex: 0.75;
    width: 100%;
    flex-direction: column;
}

.routes {
    padding: 20px;
}

.nav-container {
    /* position: fixed; */
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: rgb(0, 21, 41);
}

.logo-container {
    background-color: #001529;
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.logo {
    margin: 0.5em 0 0 0.5em;
}

.logo a {
    color: white;
}


@media screen and (max-width:800px) {
    .app {
        flex-direction: column;
        overflow: hidden;
    }

    .navbar {
        flex: 1;
    }

    .main {
        flex: 1;
        margin-top: 90px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .nav-container {
        height: 8vh;
        position: fixed;
        width: 100%;
        z-index: 100;
        background-color: var(--bgSecondary);
    }

    .menu-control-container {
        display: block !important;
    }

    .ant-menu {
        position: absolute;
        right: 0px;
    }

    .home-title {
        font-size: 1.4rem !important;
    }

    .show-more {
        font-size: 1.3rem !important;
    }
}

.home-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.crypto-card-container {
    min-height: 65vh !important;
}

.crypto-card {
    min-width: 250px;
}

.crypto-card .crypto-image {
    width: 35px;
}

.search-crypto {
    margin: 20px auto 30px auto;
    width: 250px;
}


.select-news {
    width: 180px;
}

.news-card {
    min-height: 300px;
    max-height: max-content;
    text-overflow: ellipsis;
}

.news-image-container {
    display: flex;
    flex-direction: column;
}

.news-title {
    display: flex;
    flex-direction: row;
}

.news-image-container .img {
    width: 100px;
    height: 100px;
}

.news-card p {
    color: black;
    margin: 10px 0px !important;
}

.provider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.provider-name {
    margin-left: 10px;
}


.footer {
    background-color: #001529;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}